[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
bandit = "*"

[packages]
paho-mqtt = "*"
python-telegram-bot = "*"
reyaml = "*"
dataclasses = "*"
werkzeug = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
